.newpokemoncontainer {
  display: flex;
}

.newpokemonform {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    flex: 8;
  }
  
  .newpokemonform label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .newpokemonform input[type="text"],
  .newpokemonform input[type="url"],
  .newpokemonform input[type="number"],
  .newpokemonform select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .newpokemonform select {
    height: 100px;
  }
  
  .newpokemonform button[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .newpokemonform button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  label[for="imagen"] {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  
  .imagencontainer {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;

  }
  
  .imagencontainer img {
    max-width: 180px;
    max-height: 180px;
    object-fit: cover;
  }

  
  .imageInput {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  

  /* Card.module.css */

.card {
  perspective: 1000px;
  width: 300px;
  height: 425px;
  position: relative;
  margin: 20px;
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex: 2;
}


.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tipo {
  padding: 5px 10px;
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
}