.pokemondetail {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.pokemondetail h2 {
    font-size: 2rem;
    color: #2d3748;
}

.pokemondetail p {
    font-size: 1.2rem;
    color: #4a5568;
}

.types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .tipo {
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .div1 {
    width: 50%;
  }
  
  .div2 {
    width: 40%;
  }
  