/* Card.module.css */

.card {
    perspective: 1000px;
    width: 300px;
    height: 425px;
    position: relative;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 

  }
  
  .card:hover {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .front {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .back {
    background-color: #eee;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .imageContainer {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .imageLoaded {
    animation: fade-in 1s;
  }
  
  .name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .types {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .tipo {
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
  }
  
  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    width: 100%;
  }
  
  .statName {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .statValue {
    font-size: 16px;
    font-weight: bold;
  }
  
  