.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    max-width: 250px;
    margin-top: 40px;
  }
  
  .input {
    padding: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #444;
    width: 300px;
  }
  
  
  .result {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .image {
    width: 200px;
    height: auto;
    margin-top: 1rem;
    border-radius: 5px;
  }
  
  
  .loadinggif {
    background-repeat: no-repeat;
    margin-left: 720px;
    margin-top: 100px;
  }

  .textogif {
    margin-left: 860px;
  }