.navs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
.ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.li {
    margin: 0 10px;
  }
  
.button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
  }
  
.button:hover:not([disabled]) {
    background-color: #ddd;
  }
  
.button:disabled {
    color: #999;
    cursor: default;
  }
  
.span {
    font-size: 16px;
  }
  