
.fondo {
  background-image: url(https://i.pinimg.com/originals/5e/96/b9/5e96b91cac78e2eb0f92de575fb6bf50.png);
  background-position: center;
  background-size: cover;
  padding-bottom: 126px;
  min-height: 596px;
}

.acomodo {
  margin-left: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: yellow;
  }
  
  .search-bar {
    margin-top: 50px;
    flex-grow: 1;
    background-color: aliceblue;
  }
  
  .filter {
    display: flex;
    background-color: aliceblue;
  }
  
  
 
  
  .loadinggif {
    background-repeat: no-repeat;
    margin-left: 720px;
    margin-top: 100px;
  }

  .textogif {
    margin-left: 860px;
  }

  .filterdb {
    min-width: 20%;
    background-color: yellow;
  }

  .filtertipos {
   background-color: yellow;
  }
