@font-face {
    font-family: "Pokemon Classic";
    src: url("../../font/Pokemon\ Classic.ttf");
  }

.texto {
    font-family: "Pokemon Classic", sans-serif;
    font-size: 11px;
    margin-left: 35px;
    margin-top: 25px;
}

.texto1 {
    font-family: "Pokemon Classic", sans-serif;
    font-size: 11px;
    margin-left: 30px;
}

.texto2 {
    font-family: "Pokemon Classic", sans-serif;
    font-size: 11px;
margin-left: 10px;
}

.texto3  {
    font-family: "Pokemon Classic", sans-serif;
    font-size: 11px;
    margin-left: 380px;
    margin-top: 25px;
}

.tipos {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, auto);
}

.checkboxes {
    margin-left: 4px;
}

.checkboxText {
    font-family: "Pokemon Classic", sans-serif;
    font-size: 10px;
    margin-left: 5px;
}