@font-face {
    font-family: "Pokemon Classic";
    src: url("../../../font/Pokemon\ Classic.ttf");
  }

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

.background {
    background-image: url(https://thumbs.gfycat.com/EcstaticGloomyCavy-max-1mb.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 60px;
    background-size: 280px 128px;
  }
  
  
.button-container {
    text-align: center;
    margin-top: 500px;
  }

  .title {
    font-family: "Pokemon Classic", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-top: 40px;
    margin-left: 40px;
  }
  
  .subtitle {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #666;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 32px;
  }
  
  
  
.button {
    font-family: "Pokemon Classic";
    display: inline-block;
    padding: 12px 24px;
    background-color: #FFCB05;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin-bottom: 50px;
  }
  
.button:hover {
    background-color: #FFDE4B;
  }
  
  .link {
    text-decoration: underline;
    color: #666;
    display: inline-block;
    white-space: nowrap;
  }
  