@font-face {
  font-family: "Pokemon Classic";
  src: url("../../font/Pokemon\ Classic.ttf");
}

.navlist {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: red;
  }
  
  .navlist li {
    margin: 0;
  }
  
  .navlist li a {
    display: block;
    padding: 1em;
    color: white;
    text-decoration: none;
  }
  
  .navlist li a:hover {
    background-color: lightcoral;
  }
  
  .active {
    background-color: lightcoral;
  }
  
  .logo{
    max-width: 50px;
    max-height: 50px;
    margin-left: 10px;
  }

  .landing {
    margin-right: 1200px;
  }

  .div {
    display: flex;
    justify-content: space-between;
    margin-right: 250px;
  }


  .home { 
  font-family: "Pokemon Classic", sans-serif;
  margin-right: 50px;
  }

  .form {
    font-family: "Pokemon Classic", sans-serif;
  }

  .active {
    border-bottom: 2px solid violet;
  }
  